.it-header-slim-wrapper {
  background: #0059b3;
}

div.it-footer-main {
  background-color: #004d99;
}

.it-footer-small-prints {
  background-color: #036;
}

section.it-footer-main {
  background-color: #036;
}
