.it-header-slim-wrapper {
  background: #0059b3;
}

div.it-footer-main {
  background-color: #004d99;
}

.it-footer-small-prints {
  background-color: #036;
}

section.it-footer-main {
  background-color: #036;
}

/*Impostazioni CSS per il menù secondario*/
.it-header-navbar-wrapper.theme-light-desk .navbar .dropdown-menu,
.it-header-navbar-wrapper.theme-light-desk .navbar .dropdown-menu:before {
  background: #0059b3;
}
.it-header-navbar-wrapper.theme-light-desk .navbar .navbar-collapsable .navbar-nav li a.nav-link.active {
  border-bottom-color:#0059b3;
}
